<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="/scoman.ico" alt="logo" />
        <h1>Ant Design of Angular</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-menu-item nzMatchRouter>
        <a routerLink="accueil">Accueil</a>
      </li>
      <li
        nz-submenu
        [nzOpen]="defOpned"
        (click)="defClick()"
        nzTitle="Fichier"
        nzIcon="file"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="manager/fichier/classe">Classe</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="manager/fichier/matiere">Matière</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="manager/fichier/caisse">Caisse</a>
          </li>
        </ul>
      </li>
      <li
        nz-submenu
        [nzOpen]="opeOpned"
        (click)="opeClick()"
        nzTitle="Opération"
        nzIcon="form"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a href="manager/operation/classe_eleve">Répartition des eleves</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a
              routerLink="manager/operation/classe_enseignant"
              nz-tooltip="Attribution de classe aux enseignants"
              >Attribution de classe</a
            >
          </li>
          <li nz-menu-item nzMatchRouter>
            <a href="manager/operation/cours">Cours</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="operation/absence">Absence</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a href="manager/operation/evaluation">Evaluation</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="manager/operation/note">Note</a>
          </li>
        </ul>
      </li>
      <li
        nz-submenu
        [nzOpen]="rapOpned"
        (click)="rapClick()"
        nzTitle="Rapport"
        nzIcon="form"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a
              href="manager/operation/classe_eleve"
              nz-tooltip="Répartition des élève par classe"
              >Répartition des eleves</a
            >
          </li>
        </ul>
      </li>
      <li
        nz-submenu
        [nzOpen]="parOpned"
        nzTitle="Paramètre"
        (click)="parClick()"
        nzIcon="form"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a href="manager/param/ecole">Nous</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a href="manager/param/groumat">Mode de répartition</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a href="manager/param/modereg">Mode de règlement</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a href="manager/param/type_frais">Type de frais</a>
          </li>
        </ul>
      </li>
      <li
        nz-submenu
        [nzOpen]="admOpned"
        (click)="admClick()"
        nzTitle="Administration"
        nzIcon="form"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a href="manager/admin/role">Rôle utilisateur</a>
            <a href="manager/admin/utilisateur">Utilisateur</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon
            class="trigger"
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          />
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
