<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a routerLink="accueil" target="_blank">
        <img src="/scoman.ico" alt="logo" />
        <h1>Ant Design of Angular</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-menu-item nzMatchRouter>
        <a routerLink="inscription">Inscription</a>
      </li>
      <li
        nz-submenu
        [nzOpen]="defOpned"
        (click)="defClick()"
        nzTitle="Fichier"
        nzIcon="file"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="fichier/matiere">Matière</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="fichier/annee_scolaire">Année scolaire</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="fichier/classe">Classe</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="fichier/eleve">Elève</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="fichier/diplome">Diplôme</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="fichier/enseignant">Enseignant</a>
          </li>
        </ul>
      </li>
      <li
        nz-submenu
        [nzOpen]="opeOpned"
        (click)="opeClick()"
        nzTitle="Opération"
        nzIcon="form"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="operation/caisse">Caisse</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="operation/eleve_classe">Répartition des eleves</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="operation/cours">Cours</a>
          </li>
          <!--li nz-menu-item nzMatchRouter>
            <a routerLink="operation/absence">Absence</a>
          </li-->
          <li nz-menu-item nzMatchRouter>
            <a routerLink="operation/evaluation">Evaluation</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="operation/note">Note</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a
              routerLink="operation/enseignant_classe"
              nz-tooltip="Attribution de classe aux enseignants"
              >Attribution de classe</a
            >
          </li>
        </ul>
      </li>
      <li
        nz-submenu
        [nzOpen]="rapOpned"
        (click)="rapClick()"
        nzTitle="Rapport"
        nzIcon="form"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a
              routerLink="operation/classe_eleve"
              nz-tooltip="Répartition des élève par classe"
              >Répartition des eleves</a
            >
          </li>
        </ul>
      </li>
      <li
        nz-submenu
        [nzOpen]="parOpned"
        nzTitle="Paramètre"
        (click)="parClick()"
        nzIcon="form"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="param/ecole">Ecole</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="param/niveau">Niveau</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="param/type_eval">Type d'évaluation</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="param/caisse">Caisse</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="param/type_frais">Type de frais</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="param/frais">Frais scolaires</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="param/tranche">Tranche </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="param/modereg">Mode de règlement</a>
          </li>
        </ul>
      </li>
      <li
        nz-submenu
        [nzOpen]="admOpned"
        (click)="admClick()"
        nzTitle="Administration"
        nzIcon="form"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="admin/role">Rôle utilisateur</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="admin/utilisateur">Utilisateur</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div class="menu-displayer">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon
            class="trigger"
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          />
        </span>
      </div>
      <div class="ecole-info">
        <h3 class="ecole">{{cont.ets? cont.ets:'' }}</h3>
      </div>
      <div class="annee-info">
        <h3 class="annee">{{cont.annee? cont.annee:null }}</h3>
      </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
