<div class="main-content">
  <form [formGroup]="dataForm" nz-form method="post" (submit)="submit()">
    <nz-form-item>
      <nz-form-label [nzSpan]="2" nzFor="cod" nzRequired>Code</nz-form-label>
      <nz-form-control
        [nzSpan]="10"
        [nzOffset]="2"
        nzErrorTip="Le code de l'établissement est obligatoire"
      >
        <input
          nz-input
          formControlName="cod"
          nz-tooltip="Code de l'établissement"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="2" nzFor="nom" nzRequired
        >Nom</nz-form-label
      >
      <nz-form-control
        [nzSpan]="20"
        [nzOffset]="2"
        nzErrorTip="Le nom de l'établissement est obligatoire"
      >
        <input
          nz-input
          formControlName="nom"
          nz-tooltip="Nom de l'établissement"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="2" nzFor="vil" nzRequired
        >Ville</nz-form-label
      >
      <nz-form-control
        [nzSpan]="18"
        [nzOffset]="2"
        nzErrorTip="La ville de l'établissement est obligatoire"
      >
        <input
          nz-input
          formControlName="vil"
          nz-tooltip="Ville d'implanyayion de l'établissement"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="adr" nzRequired
        >Adresse</nz-form-label
      >
      <nz-form-control
        [nzSpan]="20"
        [nzOffset]="1"
        nzErrorTip="L'adresse exacte de l'établissement est obligatoire"
      ><textarea formControlName="adr" nz-input rows="2" placeholder="Adresse exacte de l'établissement"></textarea>
        <!--input
          nz-input
          formControlName="adr"
          nz-tooltip=""
        /-->
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="tel" nzRequired>Téléphone</nz-form-label>
      <nz-form-control
        [nzSpan]="20"
        nzErrorTip="Le téléphone de l'établissement est obligatoire"
      >
        <input
          nz-input
          formControlName="tel"
          nz-tooltip="Téléphone de l'établissement"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="bp">Boîte postale</nz-form-label>
      <nz-form-control
        [nzSpan]="12"
      >
        <input
          nz-input
          formControlName="bp"
          nz-tooltip="Boîte postale de l'établissement"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="2" nzFor="mai">Email</nz-form-label>
      <nz-form-control
        [nzSpan]="10"
        [nzOffset]="2"
      >
        <input
          nz-input
          formControlName="mai"
          nz-tooltip="Adresse email de l'établissement"
        />
      </nz-form-control>
    </nz-form-item>
    <!--nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="libe" nzRequired
        >Libellé</nz-form-label
      >
      <nz-form-control
        [nzSpan]="19"
        [nzOffset]="2"
        nzErrorTip="Le libellé de l'établissement est obligatoire"
      >
        <input
          nz-input
          formControlName="libe"
          nz-tooltip="Libellé de l'établissement"
        />
      </nz-form-control>
    </nz-form-item-->
    <nz-form-item nzAlign="middle" nzJustify="center">
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="dataForm.invalid">
          Valider
        </button>
        <button nz-button (click)="close(null)">Annuler</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
