<!--nz-card style="display: flex; flex-direction: column; flex: 1; height: 100%; overflow: hidden;"-->
<div class="section-header">
  <nz-input-group [nzPrefix]="prefixTemplate">
    <input
      type="text"
      placeholder="Portion de text recherché"
      nz-input
      nz-tooltip="Critères de recherche"
      [(ngModel)]="searchInput"
      (ngModelChange)="search()"
    />
  </nz-input-group>
  <ng-template #prefixTemplate>
    <i nz-icon nzType="search" class="opacity-05"></i>
  </ng-template>
</div>
<div class="content-section">
  <nz-table
    #ordersListTable
    [nzData]="displayed"
    style="
      overflow-y: auto;
      scroll-behavior: auto;
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 100%;
    "
    nzBordered="true"
  >
    <thead>
      <tr>
        <th>Code</th>
        <th>Libellé</th>
        <th>Montant</th>
        <th>Payé?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of ordersListTable.data">
        <td>{{ item.frais.codeFrais }}</td>
        <td>{{ item.frais.libelle + " (" + item.frais.montant + ")" }}</td>
        <td>{{ item.frais.montant }}</td>
        <td class="text-md-right">
          <nz-switch
            [(ngModel)]="item.selected"
            nzCheckedChildren="Oui"
            nzUnCheckedChildren="Non"
          ></nz-switch>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <button nz-button nzType="primary" (click)="valider()">Valider</button>
</div>
<!--/nz-card-->
