<div class="main-content">
  <form [formGroup]="dataForm" nz-form (submit)="submit()">
    <div nz-row [nzGutter]="{ xs: 4, sm: 8, md: 16, lg: 32 }">
      <div class="gutterRow" nz-col [nzSpan]="10">
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzFor="cai" nzRequired
            >Caisse</nz-form-label
          >
          <nz-form-control
            [nzSpan]="17"
            [nzOffset]="2"
            nzErrorTip="Veuillez sélectionner la caisse"
          >
            <nz-select
              formControlName="cai"
              nzAllowClear="true"
              nzSelectOnTab="true"
              nzShowSearch="true"
            >
              <nz-option
                *ngFor="let item of caisses"
                [nzValue]="item.id"
                [nzLabel]="item.libCaisse"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="gutterRow" nz-col [nzSpan]="7">
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzFor="dat" nzRequired
            >Date</nz-form-label
          >
          <nz-form-control
            [nzSpan]="16"
            [nzOffset]="2"
            nzErrorTip="Le date de paiement est obligatoire"
          >
            <nz-date-picker
              nzFormat="dd/MM/yyyy"
              nz-input
              formControlName="dat"
              nz-tooltip="Date de paiement"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="gutterRow" nz-col [nzSpan]="7">
        <nz-form-item>
          <nz-form-label [nzSpan]="9" nzFor="tim" nzRequired
            >Heure</nz-form-label
          >
          <nz-form-control
            [nzSpan]="13"
            [nzOffset]="2"
            nzErrorTip="Le date de paiement est obligatoire"
          >
            <nz-time-picker
              nzFormat="hh:mm"
              nz-input
              formControlName="tim"
              nz-tooltip="Date de paiement"
            ></nz-time-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="{ xs: 4, sm: 8, md: 16, lg: 32 }">
      <div class="gutterRow" nz-col [nzSpan]="13">
        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzFor="pay" nzRequired
            >Payeur</nz-form-label
          >
          <nz-form-control
            [nzSpan]="18"
            [nzOffset]="2"
            nzErrorTip="Le libellé de la classe est obligatoire"
          >
            <input nz-input formControlName="pay" nz-tooltip="Nom du payeur" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="gutterRow" nz-col [nzSpan]="11">
        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzFor="mop" nzRequired
            >Mode</nz-form-label
          >
          <nz-form-control
            [nzSpan]="18"
            [nzOffset]="2"
            nzErrorTip="Veuillez sélectionner la mode de paiement"
          >
            <nz-select
              formControlName="mop"
              nzAllowClear="true"
              nzSelectOnTab="true"
              nzShowSearch="true"
            >
              <nz-option
                *ngFor="let item of modes"
                [nzValue]="item.id"
                [nzLabel]="item.libMode"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="{ xs: 4, sm: 8, md: 16, lg: 32 }">
      <div class="gutterRow" nz-col [nzSpan]="13">
        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzFor="ref" nzRequired
            >Réference</nz-form-label
          >
          <nz-form-control
            [nzSpan]="18"
            [nzOffset]="2"
          >
            <input nz-input formControlName="ref" nz-tooltip="Référence du paiement" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="gutterRow" nz-col [nzSpan]="11">
        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzFor="dre" nzRequired
            >Date réf.</nz-form-label
          >
          <nz-form-control
            [nzSpan]="18"
            [nzOffset]="2"
            nzErrorTip="Le date de paiement est obligatoire"
          >
            <nz-date-picker
              nzFormat="dd/MM/yyyy"
              nz-input
              formControlName="dre"
              nz-tooltip="Date de paiement"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="ins" nzRequired
        >Bénéficiaire</nz-form-label
      >
      <nz-form-control
        [nzSpan]="19"
        [nzOffset]="2"
        nzErrorTip="Veuillez sélectionner l'apprenant bénéficiaire du paiement"
      >
        <nz-select
          formControlName="ins"
          nzAllowClear="true"
          nzSelectOnTab="true"
          nzShowSearch="true"
          nzAllowClear="true"
        >
          <nz-option
            *ngFor="let item of inscrits"
            [nzValue]="item.numeroInscription"
            [nzLabel]="
              item.numeroInscription +
              ' ' +
              item.eleve.nom +
              ' ' +
              item.classeDemandee
            "
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nzAlign="middle" nzJustify="center">
      <nz-form-control>
        <button nz-button [disabled]="!dataForm.value.ins" type="button" (click)="getFees(dataForm.value.ins)">
          Sélectionner les frais à payer
        </button>
        </nz-form-control>
        </nz-form-item>
  <div class="content-section">
    <nz-table
      #ordersListTable
      [nzData]="displayed"
      style="
        overflow-y: auto;
        scroll-behavior: auto;
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
      "
      nzBordered="true"
    >
      <thead>
        <tr>
          <th>N° ordre</th>
          <th>Frais payé</th>
          <th>Montant payé</th>
        </tr>
      </thead>
      <tbody>
        <!--/tbody> style="scroll-behavior: auto; overflow: hidden;"-->
        <tr *ngFor="let item of displayed; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ item.frais.libelle+' ('+item.frais.montant+')' }}</td>
          <td>
            <nz-input-group>
              <input
                type="number"
                nz-input
                [(ngModel)]="item.prixUnitaire"  [ngModelOptions]="{standalone: true}"
              />
            </nz-input-group>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
    <nz-form-item nzAlign="middle" nzJustify="center">
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="dataForm.invalid">
          Valider
        </button>
        <button nz-button type="button" (click)="close(null)">Annuler</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
