<div class="main-content">
  <form [formGroup]="dataForm" nz-form method="post" (submit)="submit()">
    <!--nz-form-item nzAlign="middle" nzJustify="center">
      <nz-form-control>
        <nz-switch formControlName="opt" nzCheckedChildren="Matière optionnelle" nzUnCheckedChildren="Matière obligatoire">
      </nz-switch></nz-form-control>
    </nz-form-item-->
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="code" nzRequired>Code</nz-form-label>
      <nz-form-control
        [nzSpan]="10"
        [nzOffset]="2"
        nzErrorTip="Le code de la matière est obligatoire"
      >
        <input
          nz-input
          formControlName="code"
          placeholder="Code de la matière"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="libe" nzRequired
        >Libellé</nz-form-label
      >
      <nz-form-control
        [nzSpan]="19"
        [nzOffset]="2"
        nzErrorTip="Le libellé de la matière est obligatoire"
      >
        <input
          nz-input
          formControlName="libe"
          placeholder="Libellé de la matière"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nzAlign="middle" nzJustify="center">
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="dataForm.invalid">
          Valider
        </button>
        <button nz-button (click)="close(null)">Annuler</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
