<p>etablissement works!</p>
<form
  action="post"
  (ngSubmit)="saveData()"
  style="width: 600px; align-self: center; margin: 5px"
>
  <nz-card>
    <div style="align-content: center">
      <h3 style="text-align: center">Informations de l'école</h3>
    </div>
    <nz-divider></nz-divider>
    <nz-form-item>
      <nz-form-label>Nom</nz-form-label>
      <nz-form-control>
        <input type="text" nz-input name="nom" [(ngModel)]="data.nom" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Adresse</nz-form-label>
      <nz-form-control>
        <input type="text" nz-input name="adresse" [(ngModel)]="data.adresse" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Ville</nz-form-label>
      <nz-form-control>
        <input type="text" nz-input name="ville" [(ngModel)]="data.ville" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Boîte postale</nz-form-label>
      <nz-form-control>
        <input type="text" nz-input name="bp" [(ngModel)]="data.bp" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Téléphone</nz-form-label>
      <nz-form-control>
        <input type="text" nz-input name="tel" [(ngModel)]="data.tel" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>email</nz-form-label>
      <nz-form-control>
        <input type="email" nz-input name="mail" [(ngModel)]="data.email" />
      </nz-form-control>
    </nz-form-item>
    <nz-divider></nz-divider>
        <button
          nz-button
          nzType="primary"
          nzSpan="20"
          nzOffset="2"
          style="align-self: center"
        >
          Valider
        </button>
  </nz-card>
</form>
