<nz-card
  style="
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow: hidden;
  "
>
  <div class="section-header">
    <div class="search-data">
      <nz-input-group [nzPrefix]="prefixTemplate">
        <input
          type="text"
          placeholder="Portion de text recherché"
          nz-input
          nz-tooltip="Critères de recherche"
          [(ngModel)]="searchInput"
          (ngModelChange)="search()"
        />
      </nz-input-group>
      <ng-template #prefixTemplate>
        <i nz-icon nzType="search" class="opacity-05"></i>
      </ng-template>
    </div>
    <div class="button text-right">
      <button nz-button nzType="primary" (click)="create()">
        <i nz-icon nzType="file-excel" theme="outline"></i>
        <span>Nouveau</span>
      </button>
    </div>
  </div>
  <div class="content-section">
    <nz-table #basicTable [nzData]="displayed" [nzShowPagination]="true">
      <thead>
        <tr>
          <th nzWidth="40px"></th>
          <th>Code</th>
          <th>Libellé</th>
          <th>Portée</th>
          <th>Montant</th>
          <th>Type</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of basicTable.data">
          <tr>
            <td>
              <button
                class="m-r-5"
                nz-button
                nzType="default"
                nzShape="circle"
                [nz-tooltip] = "!data.expanded? 'Montrer le détail des montants par classe': 'Cacher le détail'"
                (click)="onExpandChange(data)"
                *ngIf="data.frais.portee == 'SPECIFIQUE'"
              >
                <i nz-icon *ngIf="!data.expanded" nzType="plus" theme="outline"></i>
                <i nz-icon *ngIf="data.expanded" nzType="minus" theme="outline"></i>
              </button>
            </td>
        <td>{{ data.frais.codeFrais }}</td>
            <td>{{ data.frais.libelle }}</td>
            <td><nz-tag [nzColor]="data.frais.portee === 'GLOBAL' ? 'blue' : 'orange'">{{ data.frais.portee === 'GLOBAL' ? 'GLOBAL' : 'SPECIFIQUE'}}</nz-tag></td>
            <td>{{data.frais.portee === 'GLOBAL'? (data.frais.montant | currency: "XOF"): "—"}}</td>
            <td>{{ data.frais.typeFrais.libTypeFrais }}</td>
            <td>
              <button
                class="m-r-5"
                nz-button
                nzType="default"
                nzShape="circle"
                nz-tooltip
                nzTooltipTitle="Modifier"
                (click)="addChild(data.frais)"
                *ngIf="data.frais.portee != 'GLOBAL'"
              >
                <i nz-icon nzType="plus" theme="outline"></i>
              </button>
              <button
                class="m-r-5"
                nz-button
                nzType="default"
                nzShape="circle"
                nz-tooltip
                nzTooltipTitle="Modifier"
                (click)="edit(data.frais)"
              >
                <i nz-icon nzType="edit" theme="outline"></i>
              </button>
              <button
                class="m-r-5"
                nz-button
                nzType="default"
                nzShape="circle"
                nz-tooltip
                nzTooltipTitle="Supprimer"
                (click)="confirmDeleting(data.frais)"
              >
                <i nz-icon nzType="delete" theme="outline"></i>
              </button>
            </td>
          </tr>
          <tr [nzExpand]="data.expanded" *ngIf="data.expanded">
            <nz-table
              #innerTable
              nzSize="small"
              [nzData]="data.fraisClasses"
              [nzShowPagination]="false"
              [nzLoading]="data.expanded && !data.fraisClasses"
            >
              <thead>
                <tr>
                  <th>Code Classe</th>
                  <th>Libellé Classe</th>
                  <th>Ordre</th>
                  <th>Montant</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let fc of innerTable.data; let ind= index">
                  <td>{{ fc.classe.codeClasse }}</td>
                  <td>{{ fc.classe.libClasse }}</td>
                  <td>{{ fc.classe.niveau.ordre }}</td>
                  <td>{{ fc.montant   | currency: "XOF" }}</td>
            <td>
              <button
                class="m-r-5"
                nz-button
                nzType="default"
                nzShape="circle"
                nz-tooltip
                nzTooltipTitle="Modifier"
                (click)="editChild(fc)"
                *ngIf="data.frais.portee != 'GLOBAL'"
              >
                <i nz-icon nzType="edit" theme="fill"></i>
              </button>
              <button
                class="m-r-5"
                nz-button
                nzType="default"
                nzShape="circle"
                nz-tooltip
                nzTooltipTitle="Supprimer"
                (click)="confirmDeletFraisClasse(fc, ind)"
              >
                <i nz-icon nzType="delete" theme="fill"></i>
              </button>
            </td>
                </tr>
              </tbody>
            </nz-table>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </div>
</nz-card>
