<nz-card style="display: flex; flex-direction: column; flex: 1; height: 100%; overflow: hidden;">
  <div class="section-header">
    <div class="search-data">
      <nz-input-group [nzPrefix]="prefixTemplate">
        <input
          type="text"
          placeholder="Portion de text recherché"
          nz-input
          nz-tooltip="Critères de recherche"
          [(ngModel)]="searchInput"
          (ngModelChange)="search()"
        />
      </nz-input-group>
      <ng-template #prefixTemplate>
        <i nz-icon nzType="search" class="opacity-05"></i>
      </ng-template>
    </div>
    <div class="button text-right">
      <button nz-button nzType="primary" (click)="create()">
        <i nz-icon nzType="file-excel" theme="outline"></i>
        <span>Nouveau</span>
      </button>
    </div>
  </div>
<div class="content-section">
  <nz-table #ordersListTable [nzData]="displayed" style="overflow-y: auto; scroll-behavior: auto; display: flex; flex-direction: column;
  flex: 1; height: 100%;" nzBordered="true">
      <thead>
          <tr>
              <th></th>
              <th>Code</th>
              <th>libellé</th>
              <th>Ordre</th>
              <th>Capacité</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody style="scroll-behavior: auto; overflow: hidden;">
        @for (item of displayed; track item.classe.id) {
          <tr><!--/tr> *ngFor="let item of ordersListTable.data;  let i=index"-->
            <td>
                  <button class="m-r-5" nz-button nzType="default" nzShape="circle" nz-tooltip="Afficher les élève de la classe"
                  (click)="showMembers(item)">
                      <i nz-icon nzType="plus" theme="outline"></i>
                  </button>
                </td>
              <td>{{item.classe.codeClasse}}</td>
              <td>
                  {{ item.classe.libClasse }}
              </td>
              <td>
                  {{ item.classe.niveau.ordre }}
              </td>
              <td>
                  {{ item.classe.capacite }}
              </td>
              <td class="text-md-right">
                  <button class="m-r-5" nz-button nzType="default" nzShape="circle" nz-tooltip [nzTooltipTitle]="printInfo(item.classe)"
                  (click)="printList(item.classe)">
                      <i nz-icon nzType="printer" theme="outline"></i>
                  </button>
                  <button class="m-r-5" nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Modifier"
                  (click)="edit(item.classe)">
                      <i nz-icon nzType="edit" theme="outline"></i>
                  </button>
                  <button class="m-r-5" nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Affecter des élèves dans cette classe"
                  (click)="popaddingStudent(item.classe)">
                      <i nz-icon nzType="user-add" theme="outline"></i>
                  </button>
                  <button class="m-r-5" nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Supprimer"
                  (click)="confirmDeleting(item.classe)">
                      <i nz-icon nzType="delete" theme="outline"></i>
                  </button>
              </td>
          </tr>
              <tr>
                <nz-table></nz-table>
              </tr>
        }
      </tbody>
  </nz-table>
</div>
</nz-card>
